form{
    margin-top:40px;
    width:270px;
    height: 370px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    border-color: white;
    background-color: rgb(51, 51, 99);
    box-shadow: 1px 0px 8px -1px  black;
}
h1{
    margin-top: 90px;
    font-family: tahoma;
}
button:hover{
    color: black;
    opacity: 80%;
}
.up{
display: flex;
justify-content: center;
align-items: center;
gap:5px;
}
.up button{
    border-radius: 4px;
    width: 125px;
    height: 40px;
    color: black;
    background-color: orange;
    margin:0;
    border-radius: 4px;
}

.result{
   
    height: 60px;
    padding-top: 11px;
   
}
#result1{
    font-size: 30px;
    color: black;
    width: 90%;
    border-radius: 4px;
 
    height: 2.1rem;
    border-top-left-radius: 4px;
    padding: 7px;
    overflow-x: hidden;
   border-top-right-radius: 4px;
}
body{
    background-color: bisque;
}
button{
    border-radius: 10px;
    border: none;
    height: 52px;
    width: 54px;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    color: gray;
    cursor: pointer;
}
#result{
   text-align: left;
    margin-left: 10px;
    border: none;
padding-top: 15px;
    padding-left: 5px;
    border-radius: 4px;
    font-size: 25px;
    width:245px;
    background-color: white;
    height: 72px;
}
.buttons{
    margin-top: 8px;
    background-color: rgb(51, 51, 99);
}

.lign4 >button{
    background-color: aqua;
}
#op{
    background-color: aqua;
  
}